input[type=text]{
    padding: .4em;
}

label#title-label, label#price-label, label#rating-label{
    width: 50%;
    display: inline-block;
    text-align: right;
}

input[type=checkbox], input[type=button]{
    margin-left: 50%;
}